.card-title.sidebar {
  font-size: 1.6rem;
}

p.card-title {
  margin-top: 0;
}

.contact i {
  font-size: 3rem;
  margin-right: 1rem;
  transition: color 0.3s ease-in-out;
}

.contact i:hover {
  color: lightcoral;
}
